@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
body{
    font-size: 20px;
font-family: 'roboto', sans-serif;
font-weight: 600;}
.info {
    display: flex;
}
.info_text{
    margin-left: 40px;
}
.info_text p{
font-style: italic;
font-weight: bold;
color: #000000;
background: #ffffff;
margin: 0;}
.info_text h4{
    margin-bottom: 10px;
}
.card1{
border: solid 2px red;
padding: 15px 20px;
margin-bottom: 20px;
border-radius: 50px;
background: mediumaquamarine;
}
.card2{
    border: solid 2px blue;
    padding: 15px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.card3{
    border: solid 2px orange;
    padding: 15px 20px;
    border-radius: 50px;
}
.container{
    padding-top: 30px;
    max-width: 750px;
    margin: auto;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
color: green;
text-decoration: underline;
}
a:active{
color: red;
}
a:visited{
color: orange;
}
@media (max-width:650px ){
    display: block;
    text-align: center;
}
.btn{
    background: black;
    padding: 15px 20px;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}
.btn:hover{
    opacity: 0.8;
    color: orange;
}
.list{
margin: 0;
padding: 0;
list-style: none;
}
.list li{
    margin-bottom: 5px;
    border-bottom: 2px solid orange;
}

.table {
    width: 100%;
}

.table td{
    text-align: center;
}
.table td:hover{
    background: #eeefff;
}
.table tr:nth-child(1), .table tr:nth-child(2){
    background: #eee;
}
.form h2  {
    text-align: center;
}
.form-row{
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group{
    /* display: inline-block; */
    margin-right: 10px;
    width: 50%;

}
.form-group label{
display: block;
font-size: 14px ;
width: 50%;
}
.form-row .form-group :last-child{
    margin-right: 0;
}
.form-group input, .form-group textarea{
box-sizing: border-box;
border: none;
background: transparent;
border-bottom: 1px solid #ccc;
color: #000;
padding: 0px 15px 0px;
outline: 0;
font-family: inherit;
}